<!-- templates/books/book_detail.html -->
{% extends '_base.html' %}
<!---->
{% block title %}{{ product.title }} {% endblock title%}
<!--This is content-->
{% block content %}
<div class="product-info">
  {% if product.image %}
  <img src="{{ product.image.url}}" alt="{{ product.name }}" />
  {% endif %}
  <a href="{{ product.category.get_absolute_url }}">
    <h1>Category: {{ product.category }}</h1>
  </a>
  <p>Name: {{ product.name }}</p>
  <p>description: {{ product.description}}</p>
  <p>Price: {{ product.price }}</p>
  <form action="{% url "cart:cart_add" product.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add to cart">
  </form>
</div>
{% endblock content %}
